/*

ORDER: Base + typography > pages > general layout + grid > page layout > components

1em = 16px
1rem = 10px
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html { font-size: 62.5%; /* 1rem = 10px */ }

body { 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; 
  background-color: #ddd;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 .6rem .2rem rgba(0,0,0,0.2);
}

.heading-primary {
  color: #fff;
  font-size: 5rem;
  text-transform: uppercase;
  backface-visibility: hidden; /* Stops shakiness */
}

.sub-heading {
  font-size: 3rem;
  letter-spacing: 1px;
  text-align: center;
  font-family: 'Ruda', cursive;
  font-weight: 600;
  padding: 2rem 0 0 0;
}

.paragraph { 
  font-size: 1.6rem;
  font-family: 'Alegreya Sans', 'Roboto Slab',  cursive;
  font-weight: 400;
  padding: .5rem 2rem;
  text-align: center;
}

.in-text-link:link,
.in-text-link:visited {
  display: inline-block;
  color: #fff;
  background-color: #2c3e50;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}

.in-text-link:hover {
  transform: rotateZ(-10deg) scale(1.5);
  box-shadow: 0px 0px 15px 5px rgba(18,26,33,0.8)
}

.line-space {
  padding-bottom: 1rem;
}

.container::after {
  content: "";
  display: table;
  clear: both; 
}

section {
  
  padding-bottom: 3rem;
}

.header__list {
  color: #bbb;
  font-size: 2rem;
  list-style-type: none;
  margin-bottom: 1.5rem;
}

.header__item {
  display: inline;
}

/* Nav bar */

.header__menu {
  position: fixed;
  z-index: 5;
  margin: 2rem;
  display: inline-block;
  cursor: pointer;
}

.header__menu--bar {
  width: 3.5rem;
  height: .5rem;
  background-color: #000;
  margin: .6rem 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-.9rem, .6rem) ;
  transform: rotate(-45deg) translate(-.9rem, .6rem) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-.8rem, -.8rem) ;
  transform: rotate(45deg) translate(-.8rem, -.8rem) ;
}

.header__menu--overlay {
  height: 100vh;
  width: 100vw;
  background: #2c3e50;
  z-index: 2;
  visibility: hidden;
  position: fixed;
}

.header__menu--overlay ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  padding-left: 0;
  list-style-type: none;
}

.header__menu--overlay ul li {
  padding: 1rem;
}

.header__menu--overlay ul li a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.header__menu--overlay ul li a:hover {
  color: #333332;
}

.header__menu--active {
  visibility: visible;
}

/* Footer */

.footer__wrapper {
  min-height: 100vh;
  margin-bottom: -10rem;
}

.footer {
  background-color: #333 ;
  width: 100%;
  box-shadow: 0 0 1rem .4rem rgba(0,0,0,0.2);
}

.push {
  margin-bottom: 10rem;
}

.footer a {
  text-decoration: none;
  color: #eee;
}

.footer__list {
  height: 10rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__list li {
  margin: 0 1.5rem;
  font-size: 4rem;
}

i {
  transition: all .3s ease-in-out;
}

.fa-github:hover {
  text-shadow: 0px 0px 1rem rgba(255,255,255,0.5);
  color: #000;
}

.fa-linkedin:hover {
  color:#0072b1;
}


/* Home page */

.header__home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/hero-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: 'Ruda', cursive;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
} 

.header__home--primary {
  color: #eee;
  font-size: 3.5rem;
  font-weight: 600;
}

/* About me button */

.header__home--button:link,
.header__home--button:visited {
  color: white;
  text-decoration: none;
  border: 3px solid #fff;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-family: "Mukta", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  
  box-shadow: inset 0 0 0 0 #fff;
  transition: ease-out 0.5s;
}

.header__home--button:hover {
  box-shadow: inset 0 0 0 5rem #fff;
  color: #000;
}

/* About page */

.header__about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/about-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 1rem .4rem rgba(0,0,0,0.2);
  position: relative;
  font-family: 'Ruda', cursive;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__heading--back:link,
.about__heading--back:visited {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

/* About me */

.about__me {
  background-color: #2c3e50;
  color: #fff;
  padding-bottom: 3rem;
}

.about__me--text {
  font-size: 5rem;
  letter-spacing: 0;
  text-align: center;
  font-family: 'Ruda', cursive;
  font-weight: 400;
  padding: 2rem 0 0 0;
}

/* About skills */

.about__skills {
  background-color: #eee;
}

.skills__title {
  text-align: center;
  font-size: 2.8rem;
  letter-spacing: 1px;
}

.skills__icons {
  display: flex;
  justify-content: center;
}

.skills__icons--img {
  width: auto;
  height: 8rem;
  margin: 1rem 2rem;
  transition: all .4s ease-in-out;
}

.skills__icons--img:hover {
  transform: scale(1.5) rotateZ(360deg);
}


/* Experience */

.about__experience {
  background-color: #2c3e50;
  color: #fff;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: 1.2rem; */
}

.experience:not(:last-child) {
  margin-bottom: 2rem;
}

.experience__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
}

.experience__title--date {
  color: #999;
  margin-left: 0.5rem;
}

.experience__description {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
}

.experience__description--text {
  font-size: 1.5rem;
}


/* About Education */

.about__education {
  background-color: #eee;
}

.education__container {
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
}

.education__img {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 0 auto;
}


/* About Hobbies */

.about__hobbies {
  background-color: #2c3e50;
  color: #fff;
}

.hobbies__container {
  display: flex;
  align-items: center;
}

.hobbies__container--hobby {
  font-size: 1.2rem;
  margin-left: .7rem;
}

.hobbies__container--description {
  font-size: 1.5rem;
}

/* Utilities */
.u-center-text { text-align: center !important; }

.pb-medium { padding-bottom: 4rem !important; }
.pb-tiny { padding-bottom: 1rem !important; }

.mb-large { margin-bottom: 8rem !important; }
.mb-medium { margin-bottom: 4rem !important; }
.mb-small { margin-bottom: 1.5rem !important; }
.mt-big { margin-top: 8rem !important; }
.mt-large { margin-top: 10rem !important; }

.text-shadow { text-shadow: .2rem .2rem .3rem rgba(0, 0, 0, .6); }
.text-dark { color: #3e3e3e; }


/* .center {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.tag {
  color: #fff;
  margin: 0 0.2rem;
  padding: 0.3rem 0.6rem;
  border-radius: 2rem;
  transition: all .3s ease;
  box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.1);
}

.tag:hover { opacity: 50%; }

.tag__blue { background-color: rgba(41, 128, 185, 80%); }

.tag__orange { background-color: rgba(230, 126, 34, 80%); }

.tag__purple { background-color: rgba(155, 89, 182, 80%); }

.tag__green { background-color: rgba(39, 174, 96, 80%); }

.tag__grey { background-color: rgba(50, 50, 50, 80%); }


/* Animations */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }



/* Responsive Design */

@media all and (min-width: 37.5em) { /* Portrait tablets - 600px+ */
  html { font-size: 75%; /* 1rem = 12px */ }
  .header__home { background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/hero-tablets.jpg); }
}

@media all and (min-width: 56.25em) { /* Landscape tablets - 900px+ */
  html { font-size: 87.5%; /* 1rem = 14px */ }
  .u-margin-bottom-large { margin-bottom: 5rem !important; } 
  .u-margin-bottom-medium { margin-bottom: 3rem !important; }
}

@media all and (min-width: 75em) { /* Desktops - 1200px+ */
  html { font-size: 100%; /* 1rem = 16px */ }
  .container { max-width: 71.25rem; } /* 1140px */
}

@media all and (min-width: 125em) { /* Big desktops - 1800px+ */
  html { font-size: 125%; /* 1rem = 20px */ }
}