/*

ORDER: Base + typography > pages > general layout + grid > page layout > components

1em = 16px
1rem = 10px
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html { font-size: 62.5%; /* 1rem = 10px */ }

body { 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; 
  background-color: #f2f2f2;
}

.heading-primary {
  color: #fff;
  font-size: 5rem;
  text-transform: uppercase;
  backface-visibility: hidden; /* Stops shakiness */
}

.sub-heading {
  font-size: 3rem;
  text-align: center;
  font-family: "Montserrat", cursive;
  font-weight: 600;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, .5);
  padding: 2rem 0 1rem 0;
}

.paragraph { 
  font-size: 1.8rem;
  font-family: "Alegreya Sans", cursive;
  font-weight: 400;
  padding: 0 1rem .3rem 1rem;
  text-align: center;
}

header {
  box-shadow: 5px 5px 15px 4px rgba(0,0,0,0.6);
}

.in-text-link:link,
.in-text-link:visited {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.in-text-link:hover {
  display: inline-block
  transform: scale(2);
}

.line-space {
  padding-bottom: 1rem;
}

.container {
  max-width: 114rem;
  margin: 0 auto; 
}

.container::after {
  content: "";
  display: table;
  clear: both; 
}

.header__list {
  color: #bbb;
  font-size: 2rem;
  list-style-type: none;
  margin-bottom: 1.5rem;
}

.header__item {
  display: inline;
}

/* Nav bar */

.header__menu {
  position: fixed;
  z-index: 5;
  margin: 2rem;
  display: inline-block;
  cursor: pointer;
}

.header__menu--bar {
  width: 3.5rem;
  height: .5rem;
  background-color: #000;
  margin: .6rem 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-.9rem, .6rem) ;
  transform: rotate(-45deg) translate(-.9rem, .6rem) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-.8rem, -.8rem) ;
  transform: rotate(45deg) translate(-.8rem, -.8rem) ;
}

.header__menu--overlay {
  height: 100vh;
  width: 100vw;
  background: #e74c3c;
  z-index: 2;
  visibility: hidden;
  position: fixed;
}

.header__menu--overlay ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  padding-left: 0;
  list-style-type: none;
}

.header__menu--overlay ul li {
  padding: 1rem;
}

.header__menu--overlay ul li a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.header__menu--overlay ul li a:hover {
  color: #333332;
}

.header__menu--active {
  visibility: visible;
}

/* Home page */

.header__home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/hero-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
} 

.header__home--primary {
  color: #eee;
  font-size: 3.5rem;
  font-weight: 600;
}

/* About me button */

.header__home--button:link,
.header__home--button:visited {
  color: white;
  text-decoration: none;
  border: 3px solid rgb(255, 255, 255, 0.8);
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-family: "Mukta", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  
  box-shadow: inset 0 0 0 0 #fff;
  transition: ease-out 0.5s;
}

.header__home--button:hover {
  box-shadow: inset 0 0 0 5rem #fff;
  color: #000;
}

/* About page */

.header__about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/about-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__heading--back:link,
.about__heading--back:visited {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.about__who {
  background-color: #e74c3c;
  color: #fff;
  padding-bottom: 3rem;
}


/* Utilities */
.u-center-text { text-align: center !important; }

.u-margin-bottom-large { margin-bottom: 8rem !important; }
.u-margin-bottom-medium { margin-bottom: 4rem !important; }
.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-large { margin-top: 10rem !important; }

.container .col-1-of-2 { width: calc((100% - 6rem) / 2); }
.container .col-1-of-3 { width: calc((100% - 2 * 6rem) / 3); }
.container .col-2-of-3 { width: calc(2 * ((100% - 2 *6rem) / 3) + 6rem); }
.container .col-1-of-4 { width: calc((100% - 3 * 6rem) / 4); }
.container .col-2-of-4 { width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
.container .col-3-of-4 { width: calc(3 * ((100% - 3 * 6rem) / 4) + 6rem * 2); }

/* .center {
  display: flex;
  justify-content: center;
  align-items: center;
} */


/* Animations */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }



/* Responsive Design */

@media all and (min-width: 37.5em) { /* Portrait tablets - 600px+ */
  html { font-size: 75%; /* 1rem = 12px */ }
  .header__home { background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/hero-tablets.jpg); }
}

@media all and (min-width: 56.25em) { /* Landscape tablets - 900px+ */
  html { font-size: 87.5%; /* 1rem = 14px */ }
  .u-margin-bottom-large {
    margin-bottom: 5rem !important; 
  } 
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important; 
  } 
}

@media all and (min-width: 75em) { /* Desktops - 1200px+ */
  html { font-size: 100%; /* 1rem = 16px */ }
}

@media all and (min-width: 112.5em) { /* Big desktops - 1800px+ */
  html { font-size: 125%; /* 1rem = 20px */ }
}

